body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: 600;
    background-color: grey;
}
main{
    background-color: beige;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: max-content;
    margin: 30vh auto;
    outline: 3px solid dodgerblue;
}
.buttons{
    flex-direction: column;
    padding: 5px;
    margin: 3px;
}
.but1,.but2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input{
    border: 1px solid;
}
.buttons button{
    width: 150px;
    border-radius: 40px;
}
.final{
    background-color:black;
    color: rgba(30, 215, 96, 1);
    border-radius: 10px;
    width:max-content;
    padding:10px;
    margin: auto;
}